@model List<Employee>
@{
    ViewData["Title"] = "Contact";
}

<h1>Hitta till oss</h1>
<div>
    <h2>Karta till Campus</h2>
    <br />
    <img src="~/images/karta.png" id="karta" />
    <br />
</div>
<br />
<div>
    <h2>Kontaktuppgifter</h2>
    <!--Fast bara namn ;)-->
    <ul>
        @foreach (var employee in Model)
        {
            <li>@employee.Name</li>
        }
    </ul>
</div>