
@{
    ViewData["Title"] = "Index";
}

<h2>Detta är en sida för dig som ny inflyttad student i Värnamo!</h2>
<p>På sidan finns information om resturanger du kan besöka och kontakt uppgifter till oss studenter här på Campus Värnamo</p>
<p>Det är bara att börja klicka sig runt på sidan för information!</p>


<img src="~/images/campus värnamo.jpg" />
